* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.error {
    color: red;
    margin-top: 15px;
}

.change-log-rej{
    padding-bottom: 10px;
}

.notification {
    position: fixed;
    top: -50px; /* Ukryty nad stroną */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Zielony kolor dla powodzenia */
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: top 0.5s ease-in-out; /* Animacja wysuwania */
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification.error {
    background-color: #f44336; /* Czerwony kolor dla błędu */
}

.notification.show {
    top: 20px; /* Wysunięcie powiadomienia */
}