<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel użytkownika</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
<div class="container">
    <h1>Hello, <%= user.name %>!</h1>
    <div class="user-info">
        <div><strong>Email:</strong> <%= user.email %></div>
        <div><strong>UserID:</strong> <%= user._id %></div>
    </div>
    <a href="/logout" class="logout-btn">Log out</a>
</div>


</body>
</html>